<% title(@project.name, "Projects") %>
<%= @project.name %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ticket Name</th>
    </tr>
  </thead>
  <tbody>
  	<% @project.tickets.each do |ticket| %>
  	<tr>
      <td><%= ticket.id %></td>
      <td><%= link_to ticket.title, [@project, ticket] %></td>
    </tr>
		<% end %>
  </tbody>
</table>


<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project", 
		@project, 
		method: :delete, 
		confirm: 'Are you sure you want to delete this project?' %>
<%= link_to "New Ticket", new_project_ticket_path(@project) %>