<%= form_for [:admin, @user] do |f| %>
   <ul>
  <% @user.errors.full_messages.each do |msg| %>
  	<li><%= msg %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
</p>
  <%= f.submit %>
<% end %>