<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for?(:title) %>
  		<%= yield(:title) %>
  	<% else %>
  		Ticketee
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key, value| %>
  	<%= content_tag(:div, value, class:"alert alert-#{key}") %>
  <% end %>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#"><b>WT | </b>Tickets</a>
          <ul class="nav"></ul>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Projetos</a> 
      </li>
    </ul>
    <%= yield %>
  </div>
</body>
</html>
